.upload-container {
    cursor: pointer;
    text-align: center;
    padding: 20px;
    border: 2px dashed #f0f0f0 !important;
    height: 230px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.upload-drag {
    border: 2px dashed #096dd9 !important;
}